@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Montserrat", sans-serif;
}

body{
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer components{
    .inputGroup{
        @apply w-full flex flex-col gap-[6px] items-start justify-start
    }
    .input{
        @apply w-full rounded-[8px] border-[1px] bg-[#fff] outline-none py-[10px] px-[14px] border-gray-300 text-[14px] font-normal text-gray-500
    }
    .label{
        @apply text-[14px] font-medium text-gray-700
    }
    .pad1{
        @apply px-3 tablet:px-2
    }
    .page{
        @apply px-3 tablet:px-2
    }
    .section{
        width: calc(100vw - 275px);
    }
    .card{
        @apply bg-white border-[1px] rounded-[12px] p-6 border-gray-200 shadow
    }
}

.link{
    text-decoration: none;
    color: ins
    ;
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #D7E1f4; /* Track color */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #6C737F; /* Handle color */
    border-radius: 10px; /* Rounded corners */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #929292; /* Handle hover color */
  }

  .loader{
    height: 35px;
    width: 35px;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: spin 1.3s ease infinite;
  }

  @keyframes spin {
    to{
        transform: rotate(360deg);
    }
  }

  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
    display: none;
  }

  button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
    display: none !important;
  }

  .react-calendar__month-view__weekdays{
    font-weight: normal;
    text-decoration: none;
    font-size: 13px;
    line-height: 22px;
    color: #929292;
  }

  abbr{
    text-decoration: none;
  }

  .react-calendar__tile:disabled{
    background-color: transparent;
    color: #929292;
  }

  .react-calendar__tile{
    color: #121212;
  }

  .react-calendar__tile:hover{
    background-color: transparent;
  }
  
  .react-calendar__tile--now{
    color: #00BF63;
    background-color: transparent;
  }

  .react-calendar__tile--now:hover{
    background-color: transparent;
  }
  
  .react-calendar__tile--active,
  .react-calendar__tile--active:hover{
    background: #00BF63;
    border-radius: 50%;
    color: white;
  }

  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }